@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    /*alinho os itens do header ao centro */
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: #121214;
}

.header-logo {
    height: 75px;
}

.nav{
    display: flex;
    gap: 32px;
}

.nav-itens{
    font-family: 'Sarala', sans-serif;
    color: #f8f8f8;
    font-weight: 400;
    font-size: 18px;
}

.conteudo{
    padding-bottom: 40px;
    border-top: 0.4px solid #f8f8f8;
    background-color: #181820;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.conteudo-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #f8f8f8;
}

.conteudo-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #f8f8f8;
}

.button{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    background-color: #f8f8f8;
    width: 180px;
    height: 40px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: #2F2325;  
}

.button:hover{
    background-color: rgba(236 , 214, 196, 0.53);
    cursor: pointer;
}

.conteudo-img-main{
    height: 430px;
    width: 550px;
    padding-top: 48px;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    font-family: 'Righteous', cursive;
    border-top: 0.4px solid #f8f8f8;
    padding-top: 48px;
    font-weight: 400;
    font-size: 24px;
    color: #f8f8f8;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #f8f8f8;
}



